<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">
    <div class="logo-white"></div>
  </a>

  <nav class="navigation-full">
    <ul>
      <li><a href="/about">Bio/CV</a></li>
      <li><a href="/compositions">Composer</a></li>
      <li><a href="/performances">Performer</a></li>
      <li><a href="/upcoming">Upcoming</a></li>
      <li><a href="/links">Links</a></li>
    </ul>
  </nav>

  <a class="nav-toggle"><i class="fa fa-bars"></i></a>
</header>

<div class="nav-overlay">
  <ul>
    <li><a href="/about">Bio/CV</a></li>
    <li><a href="/compositions">Composer</a></li>
    <li><a href="/performances">Performer</a></li>
    <li><a href="/upcoming">Upcoming</a></li>
    <li><a href="/links">Links</a></li>
  </ul>
</div>
